extends layout

block content
  div(ng-controller="mainController")
    nav.navbar.navbar-dark.navbar-fixed-top.bg-primary
      a.navbar-brand(href="#") Internet Home

    ul.list-group
      li.list-group-item(ng-repeat="device in devices")
        h5.list-group-item-heading {{device.title || device.default_title}}
        p.list-group-item-text Lorem ipsum dolores sit amet
