doctype html
html(ng-app="myApp")
  head
    title= title

    // Meta for responsiveness
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    // AngularJS scripts
    script(src="./javascripts/angular.min.js")
    script(src="./javascripts/core.js")
    // Bootstrap stylesheets
    link(rel='stylesheet', href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='./stylesheets/style.css')

  body
    block content

    // Load the remaining JS
    script(src="/js/jquery.min.js")
    script(src="/js/tether.min.js")
    script(src="/js/bootstrap.min.js")
